In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("employee_performance(in).csv")

In [8]:
df

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review
0,Benjamin Kim,Marketing,4,18,9,63196,46,7/24/2025
1,Bryan Campbell,Marketing,4,20,10,115748,48,9/2/2025
2,John Beard,Finance,5,21,9,33635,44,1/27/2025
3,Timothy Webb,Marketing,2,19,8,55285,50,5/3/2025
4,Denise Silva,Finance,1,38,1,116750,43,7/7/2025
...,...,...,...,...,...,...,...,...
95,Jared Melton,Finance,5,17,3,53015,49,2/17/2025
96,Dr. Madeline Newman,HR,5,44,3,95030,35,3/28/2025
97,Thomas Hunter,Engineering,4,8,2,74258,50,5/25/2025
98,Dominique Smith,Marketing,1,44,5,33387,43,7/1/2025
99,Daniel Shelton,Sales,4,27,9,97448,49,8/14/2025

In [9]:
print(df.to_string())

             Employee Name   Department  Performance Rating  Tasks Completed  Customer Feedback  Salary  Working Hours Date of Review
0             Benjamin Kim    Marketing                   4               18                  9   63196             46      7/24/2025
1           Bryan Campbell    Marketing                   4               20                 10  115748             48       9/2/2025
2               John Beard      Finance                   5               21                  9   33635             44      1/27/2025
3             Timothy Webb    Marketing                   2               19                  8   55285             50       5/3/2025
4             Denise Silva      Finance                   1               38                  1  116750             43       7/7/2025
5            Todd Ferguson           HR                   2                7                  4   64753             49      3/15/2025
6        Timothy Alexander  Engineering                   2               44                  4   76427             41       3/9/2025
7            Robert Mendez           HR                   1                9                  2   37521             46       5/2/2025
8                Amanda Li           HR                   5               35                  6   49557             35      6/17/2025
9            Scott Pollard    Marketing                   5                9                  4   72370             37      8/11/2025
10      Mr. Jacob Martinez    Marketing                   4               34                  6  111721             47       3/4/2025
11          Shannon Peters    Marketing                   5               32                  7   52725             46       9/5/2025
12            Tiffany Mora    Marketing                   5               42                  2   75765             48      10/2/2025
13         Patricia Harris      Finance                   4               41                  4   87521             40       6/2/2025
14            Stacy Walter  Engineering                   1               45                  4   46561             50       6/1/2025
15          Joseph Hendrix        Sales                   3               36                  4   61662             44      12/4/2025
16               John Mays      Finance                   3               12                  5   64967             47       9/9/2025
17              Dawn Evans  Engineering                   3               41                  2   81910             37      5/19/2025
18            Kristin Ryan      Finance                   3                7                  6   37821             47      5/23/2025
19              Mark Smith           HR                   1               28                  9   78403             38       8/1/2025
20          Molly Figueroa        Sales                   1                9                  2   40461             48      12/3/2025
21          Keith Jennings  Engineering                   5                9                  3   68188             49      3/13/2025
22        Jordan Gutierrez      Finance                   4               20                  7   78198             48      9/22/2025
23              Ryan Mason    Marketing                   2               30                  6  103570             40     11/14/2025
24            Deanna Smith    Marketing                   3               33                  3   58181             42     10/12/2025
25          Rebecca Murphy        Sales                   3               24                 10   99549             36      9/26/2025
26             David Fritz    Marketing                   4               35                  5   86795             35      2/28/2025
27            Andre Gibson    Marketing                   2               27                 10   40043             35      6/25/2025
28           Jeanne Flores  Engineering                   4               45                 10   99597             36       8/4/2025
29         Emily Walter MD  Engineering                   1                6                  1   94502             37       5/9/2025
30             Aaron Bowen      Finance                   1               20                 10   77962             39       7/2/2025
31            Yolanda Ross  Engineering                   4               41                  8   84136             41      2/22/2025
32        Nicholas Watkins           HR                   1               29                 10   48897             37      7/16/2025
33        Mrs. Angel White      Finance                   5               21                  9   52633             35     11/25/2025
34          Amanda Barnett  Engineering                   3               23                  9  106966             37       3/5/2025
35          Tracy Holt DVM  Engineering                   3               16                  3   72856             40      2/18/2025
36          Jason Callahan    Marketing                   3               32                  7   79270             38      8/24/2025
37  Dr. Darlene Orozco PhD        Sales                   4               39                  9  102227             40     10/10/2025
38         Russell Johnson           HR                   3               45                  2  105862             50     11/21/2025
39            Cindy Nelson           HR                   5               43                  6   44106             35     11/27/2025
40         Jennifer Wright  Engineering                   1               46                  4   41861             38      1/20/2025
41           Tracy Bridges           HR                   2               33                  9  114035             39      4/25/2025
42          Erica Matthews      Finance                   3               12                  5   34237             44      5/17/2025
43           Margaret Cobb           HR                   5               45                  1  116497             39      9/11/2025
44             Daniel Hall      Finance                   3               31                  7  113478             49     12/10/2025
45          Henry Humphrey  Engineering                   2               41                  3   61062             37      4/13/2025
46          Crystal Graham           HR                   2                5                  7   80082             41       6/1/2025
47              Dawn Adams    Marketing                   2               48                  7   72637             38      7/25/2025
48          Loretta Murphy  Engineering                   4               15                  2  106529             41      6/29/2025
49           Mark Campbell    Marketing                   4               50                  3   66599             43       1/1/2025
50            Taylor Lopez        Sales                   3               43                  6   82356             43      1/13/2025
51          Theresa Rogers      Finance                   2                6                  7   46150             39       5/6/2025
52             Holly Moore      Finance                   1               32                  3   87856             45       9/2/2025
53         Samantha Brooks    Marketing                   3               39                  6   63150             42     12/21/2025
54        Beverly Franklin      Finance                   2               26                  6  101466             50     10/13/2025
55           Pamela Kelley  Engineering                   3               40                  4   74833             49      9/14/2025
56          Cynthia Norris  Engineering                   2               33                  5   91903             41       2/8/2025
57          Tamara Santana  Engineering                   1                6                  4   67858             39      5/28/2025
58            Adrian Owens           HR                   3               46                  5   44432             40      11/5/2025
59          Leslie Serrano  Engineering                   4               32                  1   78806             40      6/12/2025
60           Denise Fisher      Finance                   4               19                  5   70885             36     11/18/2025
61             Karen Meyer           HR                   1               37                 10   50528             40      4/28/2025
62            Tammy Greene        Sales                   4               13                  2   56859             46      8/26/2025
63            Carol Garcia    Marketing                   4               50                  4   46202             43      7/20/2025
64        Patrick Olson IV           HR                   2               25                  2  116426             40      2/24/2025
65             Susan Black           HR                   5               28                  3  111045             37      4/24/2025
66           Albert Murray        Sales                   4                5                  7   89190             45       3/4/2025
67         Kathryn Collins      Finance                   2               38                  9  114017             40      3/22/2025
68             Karen Grant      Finance                   5                5                  6  118563             39      5/27/2025
69           Jeffrey Bates    Marketing                   1                5                  5   85335             49     11/25/2025
70             Karen Green  Engineering                   1               25                  6   65102             36      4/19/2025
71      Christine Mcdonald      Finance                   2               25                  3   75262             45       3/8/2025
72            Tiffany Wood           HR                   5               15                  3   33640             43      12/5/2025
73          Timothy Phelps        Sales                   4               49                  2  101039             47      1/21/2025
74           Kelly Andrade        Sales                   2               36                 10   43949             36      1/28/2025
75            Rebecca West           HR                   4               35                  2   59837             41      8/22/2025
76              Julie Neal    Marketing                   1               21                  8   52705             44      8/24/2025
77        Margaret Carlson  Engineering                   5               43                  6  101446             44      5/12/2025
78            Ronnie Allen        Sales                   4               28                  7   95866             42      1/30/2025
79           Timothy Allen           HR                   3               24                 10   62417             42     10/13/2025
80          Thomas Vincent      Finance                   5                9                  4  102206             43      4/28/2025
81        Katherine Medina           HR                   1               22                  1   41856             35      12/9/2025
82          Tara Gutierrez      Finance                   3               20                  3   90129             44     10/31/2025
83               Jon Smith      Finance                   5               41                  2   85451             42      6/11/2025
84          Clayton Miller  Engineering                   5               45                  7   57973             46      4/25/2025
85            Thomas Kelly           HR                   2               31                  3   37264             44      9/16/2025
86          Jerome Garrett    Marketing                   4               45                  6   69868             37     12/20/2025
87           Eric Campbell           HR                   5               46                  9  109901             42     11/29/2025
88          Gabriel Nelson  Engineering                   3               34                  3  104819             46      9/14/2025
89         Kimberly Carter    Marketing                   2               18                 10  110680             46     12/16/2025
90     Elizabeth Hernandez           HR                   3               16                  2  113270             42      1/11/2025
91            Olivia Brown           HR                   1               18                  6   60740             44      5/29/2025
92           Terry Charles        Sales                   4               37                  7  113619             46       2/9/2025
93           Cheryl Carson      Finance                   1               30                  6   91990             40       2/8/2025
94          Jessica Morris  Engineering                   1               45                  9  110684             44       3/5/2025
95            Jared Melton      Finance                   5               17                  3   53015             49      2/17/2025
96     Dr. Madeline Newman           HR                   5               44                  3   95030             35      3/28/2025
97           Thomas Hunter  Engineering                   4                8                  2   74258             50      5/25/2025
98         Dominique Smith    Marketing                   1               44                  5   33387             43       7/1/2025
99          Daniel Shelton        Sales                   4               27                  9   97448             49      8/14/2025

In [10]:
df.isnull().sum()

Employee Name         0
Department            0
Performance Rating    0
Tasks Completed       0
Customer Feedback     0
Salary                0
Working Hours         0
Date of Review        0
dtype: int64

In [11]:
num_col=df.select_dtypes(include=['number']).columns

In [12]:
cate_col=df.select_dtypes(include=['object','string']).columns

In [13]:
df[num_col]=df[num_col].fillna(df[num_col].mean())

In [14]:
df[num_col]

,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours
0,4,18,9,63196,46
1,4,20,10,115748,48
2,5,21,9,33635,44
3,2,19,8,55285,50
4,1,38,1,116750,43
...,...,...,...,...,...
95,5,17,3,53015,49
96,5,44,3,95030,35
97,4,8,2,74258,50
98,1,44,5,33387,43
99,4,27,9,97448,49

In [15]:
for cate in cate_col:
    df[cate]=df[cate].fillna(df[cate].mode()[0])

In [16]:
print(df)

          Employee Name   Department  Performance Rating  Tasks Completed  \
0          Benjamin Kim    Marketing                   4               18
1        Bryan Campbell    Marketing                   4               20
2            John Beard      Finance                   5               21
3          Timothy Webb    Marketing                   2               19
4          Denise Silva      Finance                   1               38
..                  ...          ...                 ...              ...
95         Jared Melton      Finance                   5               17
96  Dr. Madeline Newman           HR                   5               44
97        Thomas Hunter  Engineering                   4                8
98      Dominique Smith    Marketing                   1               44
99       Daniel Shelton        Sales                   4               27

    Customer Feedback  Salary  Working Hours Date of Review
0                   9   63196             46      7/24/2025
1                  10  115748             48       9/2/2025
2                   9   33635             44      1/27/2025
3                   8   55285             50       5/3/2025
4                   1  116750             43       7/7/2025
..                ...     ...            ...            ...
95                  3   53015             49      2/17/2025
96                  3   95030             35      3/28/2025
97                  2   74258             50      5/25/2025
98                  5   33387             43       7/1/2025
99                  9   97448             49      8/14/2025

[100 rows x 8 columns]

In [17]:
print(df.duplicated().to_string())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False

In [18]:
df['Date of Review'] = pd.to_datetime(df['Date of Review'])

In [19]:
df['Performance Score'] = (df['Performance Rating'] * 0.4) + (df['Tasks Completed'] * 0.3) + (df['Customer Feedback'] * 0.3)

In [20]:
def get_increment(score):
    if score > 16:
        return 0.15
    elif score >= 10:
        return 0.10
    else:
        return 0.05

df['Salary Increment %'] = df['Performance Score'].apply(get_increment)
df['New Salary'] = df['Salary'] * (1 + df['Salary Increment %'])

In [21]:
df

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review,Performance Score,Salary Increment %,New Salary
0,Benjamin Kim,Marketing,4,18,9,63196,46,2025-07-24,9.7,0.05,66355.80
1,Bryan Campbell,Marketing,4,20,10,115748,48,2025-09-02,10.6,0.10,127322.80
2,John Beard,Finance,5,21,9,33635,44,2025-01-27,11.0,0.10,36998.50
3,Timothy Webb,Marketing,2,19,8,55285,50,2025-05-03,8.9,0.05,58049.25
4,Denise Silva,Finance,1,38,1,116750,43,2025-07-07,12.1,0.10,128425.00
...,...,...,...,...,...,...,...,...,...,...,...
95,Jared Melton,Finance,5,17,3,53015,49,2025-02-17,8.0,0.05,55665.75
96,Dr. Madeline Newman,HR,5,44,3,95030,35,2025-03-28,16.1,0.15,109284.50
97,Thomas Hunter,Engineering,4,8,2,74258,50,2025-05-25,4.6,0.05,77970.90
98,Dominique Smith,Marketing,1,44,5,33387,43,2025-07-01,15.1,0.10,36725.70
99,Daniel Shelton,Sales,4,27,9,97448,49,2025-08-14,12.4,0.10,107192.80

In [23]:
dept_avg = (
    df
    .groupby('Department')
    .agg({
        'Performance Score': 'mean',
        'Salary': 'mean',
        'Working Hours': 'mean'
    })
    .reset_index()
)

dept_avg

    Department  Performance Score        Salary  Working Hours
0  Engineering          11.804545  80376.227273      41.772727
1      Finance           9.586364  78826.909091      43.090909
2           HR          11.352174  72873.869565      40.608696
3    Marketing          12.409524  72153.904762      42.714286
4        Sales          11.858333  82018.750000      43.500000

In [24]:
df['Month'] = df['Date of Review'].dt.to_period('M')

In [25]:
monthly_perf = (
    df.groupby(['Department', 'Month'])
      [['Performance Score', 'Salary', 'Working Hours']]
      .mean()
      .reset_index()
)

In [26]:
monthly_perf

     Department    Month  Performance Score         Salary  Working Hours
0   Engineering  2025-01          15.400000   41861.000000      38.000000
1   Engineering  2025-02          11.800000   82965.000000      40.666667
2   Engineering  2025-03          12.050000   90566.250000      42.750000
3   Engineering  2025-04          13.766667   61379.000000      39.666667
4   Engineering  2025-05           8.260000   83994.800000      41.400000
5   Engineering  2025-06          11.100000   77298.666667      43.666667
6   Engineering  2025-08          18.100000   99597.000000      36.000000
7   Engineering  2025-09          13.350000   89826.000000      47.500000
8       Finance  2025-01          11.000000   33635.000000      44.000000
9       Finance  2025-02           9.600000   72502.500000      44.500000
10      Finance  2025-03          12.050000   94639.500000      42.500000
11      Finance  2025-04           5.900000  102206.000000      43.000000
12      Finance  2025-05           5.350000   59192.750000      42.250000
13      Finance  2025-06          15.000000   86486.000000      41.000000
14      Finance  2025-07          10.750000   97356.000000      41.000000
15      Finance  2025-09           8.966667   77007.000000      46.666667
16      Finance  2025-10           9.250000   95797.500000      47.000000
17      Finance  2025-11           9.900000   61759.000000      35.500000
18      Finance  2025-12          12.600000  113478.000000      49.000000
19           HR  2025-01           6.600000  113270.000000      42.000000
20           HR  2025-02           8.900000  116426.000000      40.000000
21           HR  2025-03          10.100000   79891.500000      42.000000
22           HR  2025-04          13.066667   91869.333333      38.666667
23           HR  2025-05           5.650000   49130.500000      45.000000
24           HR  2025-06           9.350000   64819.500000      38.000000
25           HR  2025-07          12.100000   48897.000000      37.000000
26           HR  2025-08          12.100000   69120.000000      39.500000
27           HR  2025-09          13.400000   76880.500000      41.500000
28           HR  2025-10          11.400000   62417.000000      42.000000
29           HR  2025-11          16.750000   76075.250000      41.750000
30           HR  2025-12           7.350000   37748.000000      39.000000
31    Marketing  2025-01          17.500000   66599.000000      43.000000
32    Marketing  2025-02          13.600000   86795.000000      35.000000
33    Marketing  2025-03          13.600000  111721.000000      47.000000
34    Marketing  2025-05           8.900000   55285.000000      50.000000
35    Marketing  2025-06          11.900000   40043.000000      35.000000
36    Marketing  2025-07          14.975000   53855.500000      42.500000
37    Marketing  2025-08           9.300000   68115.000000      39.666667
38    Marketing  2025-09          12.150000   84236.500000      47.000000
39    Marketing  2025-10          13.600000   66973.000000      45.000000
40    Marketing  2025-11           7.500000   94452.500000      44.500000
41    Marketing  2025-12          13.600000   81232.666667      41.666667
42        Sales  2025-01          14.875000   80802.500000      42.000000
43        Sales  2025-02          14.800000  113619.000000      46.000000
44        Sales  2025-03           5.200000   89190.000000      45.000000
45        Sales  2025-08           9.250000   77153.500000      47.500000
46        Sales  2025-09          11.400000   99549.000000      36.000000
47        Sales  2025-10          16.000000  102227.000000      40.000000
48        Sales  2025-12           8.450000   51061.500000      46.000000

In [27]:
perf_cutoff = df['Performance Score'].quantile(0.90)
salary_cutoff = df['New Salary'].quantile(0.90)

In [28]:
top_10_percent = df[
    (df['Performance Score'] >= perf_cutoff) &
    (df['New Salary'] >= salary_cutoff)
]

In [29]:
top_10_percent.columns

Index(['Employee Name', 'Department', 'Performance Rating', 'Tasks Completed',
       'Customer Feedback', 'Salary', 'Working Hours', 'Date of Review',
       'Performance Score', 'Salary Increment %', 'New Salary', 'Month'],
      dtype='object')

In [30]:
top_10_percent[['Employee Name', 'Department', 'Performance Score', 'New Salary']]

    Employee Name Department  Performance Score  New Salary
87  Eric Campbell         HR               18.5   126386.15

In [ ]:
df.to_csv("employee_performance_cleaned.csv", index=False)