In [2]:

import pandas as pd
df = pd.read_csv("employee_performance(in).csv")
df.head()

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review
0,Benjamin Kim,Marketing,4,18,9,63196,46,7/24/2025
1,Bryan Campbell,Marketing,4,20,10,115748,48,9/2/2025
2,John Beard,Finance,5,21,9,33635,44,1/27/2025
3,Timothy Webb,Marketing,2,19,8,55285,50,5/3/2025
4,Denise Silva,Finance,1,38,1,116750,43,7/7/2025

In [3]:
df.describe

<bound method NDFrame.describe of           Employee Name   Department  Performance Rating  Tasks Completed  \
0          Benjamin Kim    Marketing                   4               18
1        Bryan Campbell    Marketing                   4               20
2            John Beard      Finance                   5               21
3          Timothy Webb    Marketing                   2               19
4          Denise Silva      Finance                   1               38
..                  ...          ...                 ...              ...
95         Jared Melton      Finance                   5               17
96  Dr. Madeline Newman           HR                   5               44
97        Thomas Hunter  Engineering                   4                8
98      Dominique Smith    Marketing                   1               44
99       Daniel Shelton        Sales                   4               27

    Customer Feedback  Salary  Working Hours Date of Review
0                   9   63196             46      7/24/2025
1                  10  115748             48       9/2/2025
2                   9   33635             44      1/27/2025
3                   8   55285             50       5/3/2025
4                   1  116750             43       7/7/2025
..                ...     ...            ...            ...
95                  3   53015             49      2/17/2025
96                  3   95030             35      3/28/2025
97                  2   74258             50      5/25/2025
98                  5   33387             43       7/1/2025
99                  9   97448             49      8/14/2025

[100 rows x 8 columns]>

In [4]:
df.isnull().sum()

Employee Name         0
Department            0
Performance Rating    0
Tasks Completed       0
Customer Feedback     0
Salary                0
Working Hours         0
Date of Review        0
dtype: int64

In [5]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [6]:
df.describe()

,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours
count,100.000000,100.000000,100.000000,100.000000,100.000000
mean,3.030000,28.370000,5.410000,76780.250000,42.200000
std,1.410316,13.358049,2.767397,25300.200428,4.481161
min,1.000000,5.000000,1.000000,33387.000000,35.000000
25%,2.000000,18.000000,3.000000,56465.500000,39.000000
50%,3.000000,30.000000,5.000000,76096.000000,42.000000
75%,4.000000,41.000000,7.000000,99957.500000,46.000000
max,5.000000,50.000000,10.000000,118563.000000,50.000000

In [7]:
df.shape

(100, 8)

In [8]:
numc=df.select_dtypes(include=['Int64','float']).columns
catc=df.select_dtypes(include=['object']).columns

In [9]:
for n in numc:
    df[n]=df[n].fillna(df[n].mean())

In [10]:
df.head()

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review
0,Benjamin Kim,Marketing,4,18,9,63196,46,7/24/2025
1,Bryan Campbell,Marketing,4,20,10,115748,48,9/2/2025
2,John Beard,Finance,5,21,9,33635,44,1/27/2025
3,Timothy Webb,Marketing,2,19,8,55285,50,5/3/2025
4,Denise Silva,Finance,1,38,1,116750,43,7/7/2025

In [11]:
for c in catc:
    df[c]=df[c].fillna(df[c].mode()[0])

In [12]:
df.shape

(100, 8)

In [13]:
df["Date of Review"]=pd.to_datetime(df["Date of Review"])

In [14]:
df = df.drop_duplicates()

In [15]:
df['Performance Score'] = (df['Performance Rating'] * 0.4) + (df['Tasks Completed'] * 0.3) + (df['Customer Feedback'] * 0.3)

In [16]:
df.head()

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review,Performance Score
0,Benjamin Kim,Marketing,4,18,9,63196,46,2025-07-24,9.7
1,Bryan Campbell,Marketing,4,20,10,115748,48,2025-09-02,10.6
2,John Beard,Finance,5,21,9,33635,44,2025-01-27,11.0
3,Timothy Webb,Marketing,2,19,8,55285,50,2025-05-03,8.9
4,Denise Silva,Finance,1,38,1,116750,43,2025-07-07,12.1

In [17]:
def increment(score):
    if score > 16:
        return 0.15
    elif 10 <= score <= 16:
        return 0.10
    else:
        return 0.05

In [ ]:
df["Updated_Salary"] = df["Salary"] * (1 + df["Salary_increment"])

KeyError: 'Salary_increment'

In [18]:
df["salary_increment"]=df["Performance Score"].apply(increment)

In [19]:
df["Updated_Salary"] = df["Salary"] * (1 + df["salary_increment"])

In [20]:
df.head(
    
)

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review,Performance Score,salary_increment,Updated_Salary
0,Benjamin Kim,Marketing,4,18,9,63196,46,2025-07-24,9.7,0.05,66355.80
1,Bryan Campbell,Marketing,4,20,10,115748,48,2025-09-02,10.6,0.10,127322.80
2,John Beard,Finance,5,21,9,33635,44,2025-01-27,11.0,0.10,36998.50
3,Timothy Webb,Marketing,2,19,8,55285,50,2025-05-03,8.9,0.05,58049.25
4,Denise Silva,Finance,1,38,1,116750,43,2025-07-07,12.1,0.10,128425.00

In [ ]:
dept_summary = df.groupby("Department").agg({
    "Performance Score": "mean",
    "Salary": "mean",
    "Weekly Hours": "mean"
}).reset_index()

KeyError: "Column(s) ['Weekly Hours'] do not exist"

In [ ]:
print(df.columns)

Index(['Employee Name', 'Department', 'Performance Rating', 'Tasks Completed',
       'Customer Feedback', 'Salary', 'Working Hours', 'Date of Review',
       'Performance Score', 'salary_increment', 'Updated_Salary'],
      dtype='object')

In [21]:
dept_summary = df.groupby("Department").agg({
    "Performance Score": "mean",
    "Salary": "mean",
    "Working Hours": "mean"
}).reset_index()

In [ ]:
dept_summary

    Department  Performance Score        Salary  Working Hours
0  Engineering          11.804545  80376.227273      41.772727
1      Finance           9.586364  78826.909091      43.090909
2           HR          11.352174  72873.869565      40.608696
3    Marketing          12.409524  72153.904762      42.714286
4        Sales          11.858333  82018.750000      43.500000

In [ ]:
dept_monthly = df.groupby(
    ["Department", "Month"]
)["Performance Score"].mean().reset_index()

KeyError: 'Month'

In [ ]:
print(df.columns)

Index(['Employee Name', 'Department', 'Performance Rating', 'Tasks Completed',
       'Customer Feedback', 'Salary', 'Working Hours', 'Date of Review',
       'Performance Score', 'salary_increment', 'Updated_Salary'],
      dtype='object')

In [22]:
df["Month"] = df["Date of Review"].dt.to_period("M")

In [23]:
dept_monthly = df.groupby(
    ["Department", "Month"]
)["Performance Score"].mean().reset_index()

In [26]:
P_score_cutoff = df["Performance Score"].quantile(0.9)
salary_cutoff = df["Updated_Salary"].quantile(0.9)

In [27]:
top_employees = df[
    (df["Performance Score"] >= P_score_cutoff) &
    (df["Updated_Salary"] >= salary_cutoff)
]

In [28]:
top_employees

,Employee Name,Department,Performance Rating,Tasks Completed,Customer Feedback,Salary,Working Hours,Date of Review,Performance Score,salary_increment,Updated_Salary,Month
87,Eric Campbell,HR,5,46,9,109901,42,2025-11-29,18.5,0.15,126386.15,2025-11

In [29]:
top_employees = top_employees[
    ["Employee Name", "Department", "Performance Score", "Updated_Salary"]
]

In [30]:
print(top_employees)

    Employee Name Department  Performance Score  Updated_Salary
87  Eric Campbell         HR               18.5       126386.15

In [31]:
df.to_csv("employee_performance_cleaned.csv", index=False)

In [3]:
pd.set_option('display.max_rows', None)
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
86    False
87    False
88    False
89    False
90    False
91    False
92    False
93    False
94    False
95    False
96    False
97    False
98    False
99    False
dtype: bool